/* Put your CSS here */
html, body {
    margin: .5em;
    margin-top: 5px;
}

.top-menu {
	padding: 0;
	border-left: 9px solid #fff;

	margin-bottom: 0;
	margin-top: 16px;
    list-style-type: none;
}

.top-menu a {
	padding-left: 1em;
	padding-right: 1em;
}

.top-menu > li{
	border: 2px solid #ccc;
	padding: 4px;
	background-color: #eee;

}

.top-menu > li.active {
	background-color: #ccc;
	font-weight: bold;
}


.top-menu > li > .active {
	background-color: #ccc;
	color: #fff;
}

li { 
	display:inline;
}

.panel-front .top .panel-11 {
 	clear: none;
 	height: auto;
 }

 .panel-front{
 	border-top: 6px solid #ccc;
 	background-color: transparent;
 }

 .panel-img {
 	text-align: center;
 }

 .stack-stream{
 	padding-top: 12px;
 }

 #title { margin: 6px; }


@media (max-width : 614px) {
  .panel-l-height-5{
    height:130px;
  }
  .panel-heading {
  	font-size: 1rem;
  	padding-top: .3rem;
  	padding-bottom: .3rem;
  }
}