
{{!-- <h2 id='title'>
 
</h2> --}}

<nav class="navbar navbar-default" role="navigation">

	  <div class="navbar-header">
      <button type="button" {{action 'toggleMenu'}} class="navbar-toggle" data-toggle="collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' classNames="navbar-brand"}}The News{{/link-to}}
    </div>
 <ul class="nav navbar-nav">
       
	{{#link-to 'index' tagName='li' href=false}}
	{{#link-to 'index'}} <span class="glyphicon glyphicon-home"></span> {{/link-to}}{{/link-to}}
	{{#link-to 'section' 'news' tagName='li' href=false}}
	{{#link-to 'section' 'news'}} News {{/link-to}}{{/link-to}}
	{{#link-to 'section' 'tech' tagName='li' href=false}}
	{{#link-to 'section' 'tech'}} Tech {{/link-to}}{{/link-to}}
	{{#link-to 'section' 'health' tagName='li' href=false}}
	{{#link-to 'section' 'health'}} Health {{/link-to}}{{/link-to}}
	{{#link-to 'section' 'politics' tagName='li' href=false}}
	{{#link-to 'section' 'politics'}} Politics {{/link-to}}{{/link-to}}
	{{#link-to 'section' 'business' tagName='li' href=false}}
	{{#link-to 'section' 'business'}} Business {{/link-to}}{{/link-to}}
	{{#link-to 'section' 'science' tagName='li' href=false}}
	{{#link-to 'section' 'science'}} Science {{/link-to}}{{/link-to}}
	{{#link-to 'section' 'pop-culture' tagName='li' href=false}}
	{{#link-to 'section' 'pop-culture'}} Pop culture {{/link-to}}{{/link-to}}
	
	{{!-- {{#link-to 'section' 'nightly-news' tagName='li' href=false}}
	{{#link-to 'section' 'nightly-news'}} Nightly {{/link-to}}{{/link-to}} --}}
 </ul>
</nav>
{{outlet}}
