<style type="text/css">
.top-menu {
   list-style-type: none;
}

li { 
	display:inline;
}

.panel-front .top .panel-11 {
 	clear: none;
 	height: auto;
 }
</style>

<h2 id='title'>
 {{#link-to 'index'}}Ember News{{/link-to}}
</h2>

<ul class="top-menu">
	<li>{{#link-to 'news'}} News / {{/link-to}}</li>
	<li>{{#link-to 'tech'}} Tech /{{/link-to}}</li>
	<li>{{#link-to 'health'}} Health /{{/link-to}}</li>
	<li>{{#link-to 'politics'}} Politics /{{/link-to}}</li>
	<li>{{#link-to 'business'}} Business {{/link-to}}</li>
</ul>

{{outlet}}
