
<h2 id='title'>
 {{#link-to 'index'}}The News{{/link-to}}
</h2>

<ul class="top-menu">
	{{#link-to 'news' tagName='li' href=false}}
	{{#link-to 'news'}} News {{/link-to}}{{/link-to}}
	{{#link-to 'tech' tagName='li' href=false}}
	{{#link-to 'tech'}} Tech {{/link-to}}{{/link-to}}
	{{#link-to 'health' tagName='li' href=false}}
	{{#link-to 'health'}} Health {{/link-to}}{{/link-to}}
	{{#link-to 'politics' tagName='li' href=false}}
	{{#link-to 'politics'}} Politics {{/link-to}}{{/link-to}}
	{{#link-to 'business' tagName='li' href=false}}
	{{#link-to 'business'}} Business {{/link-to}}{{/link-to}}

	{{#link-to 'science' tagName='li' href=false}}
	{{#link-to 'science'}} Science {{/link-to}}{{/link-to}}

	{{#link-to 'popculture' tagName='li' href=false}}
	{{#link-to 'popculture'}} Pop culture {{/link-to}}{{/link-to}}
</ul>

{{outlet}}
