<h3>Cover</h3>

<main class="stream panel-l-front-wrapper">
  <section class="panel-front breakpoint-panel-front-large">
  	<div class="panel-set top">
		{{#each results}}
			{{render 'panelalpha' this}}
		{{/each}}
  	</div>
 </section>
</main>




